---
title: Superstack IoT Platform Pricing
description: Pricing plans for Silicon Witchery's IoT & AI Products.
image: /images/share.png
---

<!doctype html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html class="light"
        background="var(--background-color-white)" %}

        <!-- Content -->
        <div
            class="light"
            style="background-color: var(--background-color-white)"
        >
            <article>
                <h2>Pricing</h2>
                <p>TODO</p>
                <table>
                    <tr>
                        <th></th>
                        <th>Free</th>
                        <th>Maker</th>
                        <th>Pro</th>
                    </tr>
                    <tr>
                        <td>Maximum devices</td>
                        <td>2</td>
                        <td>8</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Michael J</td>
                        <td>34</td>
                        <td>34</td>
                        <td>34</td>
                    </tr>
                </table>
            </article>
        </div>

        {% include footer.html %}
    </body>
</html>
