---
title: Privacy Policy
description: This page details Silicon Witchery's privacy policy.
image: /images/share.png
---

<!doctype html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html class="light"
        background="var(--background-color-white)" %}

        <!-- Content -->
        <div
            class="light"
            style="background-color: var(--background-color-white)"
        >
            <article>
                <h2>Privacy Policy</h2>
                <p>TODO</p>
            </article>
        </div>

        {% include footer.html %}
    </body>
</html>
