@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --text-color-white: #f2f7f7;
    --text-color-black: #0b2436;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color-white);
}

/********************/
/* Container styles */

header,
footer {
    padding: 4rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    text-wrap: nowrap;
}

header > img.logo {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

header > i.menu {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-size: 35px;
    cursor: pointer;
    z-index: 3;
}

header > dialog /* menu */ {
    padding: 8rem 4rem;
    top: 0%;
    z-index: 2;
    width: 100%;
    height: 200%;
    overflow: hidden;
}

body > div {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.inline {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

div.spacer {
    width: 100%;
}

body:has(dialog[open]) /* menu open */ {
    overflow: hidden;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

article.small {
    text-align: center;
    gap: 1.2rem;
}

/******************/
/* Content styles */

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.08rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

p.note {
    font-size: 0.9rem;
    font-weight: 300;
}

p.bold {
    font-weight: 700;
}

p.thin {
    font-weight: 100;
}

a,
summary {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
    position: relative;
}

button {
    background-color: transparent;
    outline: solid 1px;
    font-size: 1rem;
    text-wrap: nowrap;
    padding: 0.5rem 0.75rem;
    margin: 0.6rem 0;
}

button:hover {
    background-color: transparent;
    outline: solid 2px;
    transition: all 0.1s;
}

button.cta {
    background-color: #f78d60;
    color: var(--text-color-white) !important;
    outline: solid 1px #f78d60;
}

button.cta:hover {
    outline: solid 2px var(--text-color-white);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 28rem;
}

form input {
    background-color: transparent;
    outline: solid 1px;
    border: none;
    font-size: 0.9rem;
    text-wrap: nowrap;
    padding: 0.5rem 0.75rem;
    margin: 0.6rem 0;
    width: 50%;
}

form input:focus {
    outline: solid 2px;
    outline-offset: 0px;
    transition: all 0.1s;
}

i:not(i.menu) {
    line-height: 1.8rem !important;
}

i.large {
    font-size: 42px;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 40;
}

/**************************/
/* Hover effect for links */

a:after,
summary:after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: var(--text-color-white);
    transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
}

a:hover:after,
summary:hover:after {
    width: 2rem;
}

/************************************/
/* Color swap for light backgrounds */

.light h1,
.light h2,
.light p,
.light a,
.light summary,
.light button,
.light i {
    color: var(--text-color-black);
}

.light a:after,
.light summary:after {
    background: var(--text-color-black);
}
