@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*************/
/* Variables */

:root {
    --text-color-white: #f2f7f7;
    --text-color-black: #0b2436;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-weight-light: 200;

    --padding-left-right: 4rem;
    --padding-top-bottom-header-footer: 4rem;
    --padding-top-bottom-content: 6rem;

    --font-size-heading: 3rem;
    --font-size-sub-heading: 1.8rem;
    --font-size-text: 1.2rem;
    --font-size-footnote: 0.9rem;
}

@media (width < 960px) {
    :root {
        --font-weight-light: 300;

        --padding-left-right: 2rem;
        --padding-top-bottom-header-footer: 1rem;
        --padding-top-bottom-content: 3rem;

        --font-size-heading: 2.5rem;
        --font-size-sub-heading: 1.5rem;
        --font-size-text: 1rem;
        --font-size-footnote: 0.75rem;
    }
}

@media (width > 1800px) {
    :root {
        --padding-left-right: 24rem;
    }
}

/************/
/* Defaults */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    color: var(--text-color-white);
}

/********************/
/* Container styles */

header,
footer {
    padding: var(--padding-top-bottom-header-footer) var(--padding-left-right);
    display: flex;
    flex-direction: row;
    gap: var(--font-size-text);
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    text-wrap: nowrap;
}

@media (width < 960px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
    }
}

header > img.logo {
    height: var(--font-size-heading);
    width: auto;
    cursor: pointer;
}

header > i.menu {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-size: 35px;
    cursor: pointer;
    z-index: 3;
}

header > dialog {
    padding: 8rem var(--padding-left-right);
    top: 0%;
    z-index: 2;
    width: 100%;
    height: 200%;
    overflow: hidden;
}

header > dialog > div {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-text);
    align-items: flex-end;
}

body > div > img {
    object-fit: contain;
    align-self: flex-end;
}

@media (width < 960px) {
    body > div > img {
        align-self: center;
    }
}

body > div {
    padding: var(--padding-top-bottom-content) var(--padding-left-right);
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: calc(var(--font-size-text) * 3);
}

@media (width < 960px) {
    body > div.reverse,
    body > div {
        flex-direction: column;
    }
}

body > div.vertical {
    flex-direction: column;
}

div.inline {
    display: flex;
    flex-direction: row;
    gap: var(--font-size-text);
}

div.spacer {
    width: 100%;
}

body:has(dialog[open]) /* menu open */ {
    overflow: hidden;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--font-size-text) * 2);
}

article.small {
    text-align: center;
    gap: var(--font-size-text);
}

/******************/
/* Content styles */

h1 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    letter-spacing: 0.08rem;
}

h2 {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
}

p {
    font-size: var(--font-size-text);
    line-height: 1.8rem;
}

p.note {
    font-size: var(--font-size-footnote);
    font-weight: var(--font-weight-light);
}

p.bold {
    font-weight: var(--font-weight-bold);
}

p.thin {
    font-weight: var(--font-weight-light);
}

details > summary {
    list-style-type: "▸";
    list-style-position: outside;
    padding-left: var(--font-size-text);
    margin-left: 0.85rem;
}

details[open] > summary {
    list-style-type: "▾";
}

details > p {
    margin-top: var(--font-size-text);
    margin-left: calc(var(--font-size-text) + 0.85rem);
    font-weight: var(--font-weight-light);
}

a,
summary {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.08rem;
    position: relative;
}

button {
    background-color: transparent;
    outline: solid 1px;
    font-size: 1rem;
    text-wrap: nowrap;
    padding: 0.5rem 0.75rem;
    margin: 0.6rem 0;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    outline: solid 2px;
    transition: all 0.1s;
}

button.cta {
    background-color: #f78d60;
    color: var(--text-color-white) !important;
    outline: solid 1px #f78d60;
}

button.cta:hover {
    outline: solid 2px var(--text-color-white);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 28rem;
}

@media (width < 960px) {
    form {
        align-self: center;
    }
}

form input {
    background-color: transparent;
    outline: solid 1px;
    border: none;
    font-size: 0.9rem;
    text-wrap: nowrap;
    padding: 0.5rem 0.75rem;
    margin: 0.6rem 0;
    width: 50%;
}

form input:focus {
    outline: solid 2px;
    outline-offset: 0px;
    transition: all 0.1s;
}

i:not(i.menu) {
    line-height: 1.8rem !important;
}

i.large {
    font-size: 42px;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 40;
}

/**************************/
/* Hover effect for links */

a:after,
summary:after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: var(--text-color-white);
    transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
}

a:hover:after,
summary:hover:after {
    width: 2rem;
}

/************************************/
/* Color swap for light backgrounds */

.light h1,
.light h2,
.light p,
.light a,
.light summary,
.light button,
.light i {
    color: var(--text-color-black);
}

.light a:after,
.light summary:after {
    background: var(--text-color-black);
}
