@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Unica+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

em {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    color: #FF2B89;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

a:hover {
    color: #FF2B89 !important;
    transition: 0.2s;
}

/* Background images and page size */
.body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75vw;
    min-height: 100vh;
}

.module-background {
    background: url(images/bg.jpg) no-repeat top right fixed;
    background-size: cover;
}

.service-background {
    background: url(images/services.jpg) no-repeat fixed;
    background-position: right 70vw bottom 0; 
    background-size: contain;
    background-color: #F2F0EC;
}

/* Navigation bar */
.navbar {
    height: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    height: 100%;
}

.navbar .logo img {
    height: 100%;
}

.navbar .links {
    margin: 0 1rem;
}

.navbar .links a {
    font-family: 'Unica One', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* Services page layout */
.service-column {
    display: flex;
    flex-direction: column;
    width: 55vw;
    min-height: 10rem;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: flex-end;
}

/* Blurb Header */
.blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}

/* Main content area */
.content {
    display: flex;
    justify-content: space-between;
    min-height: 10rem;
    flex-grow: 1.6;
    flex-shrink: 0;
    align-items: flex-start;
}

/* Sub cards */
.content .split {
    margin: 0 auto;
    display: flex;
}

.content .split .gap {
    width: 5rem;
    height: 2.5rem;
}

.card {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-grow: 0;
    background-color: rgba(236, 233, 228, 0.8);
    flex-direction: column;
}

.card .inset {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card ul {
    margin-bottom: 0.75rem;
}

.card li{
    list-style: disc;
    list-style-position: inside;
    /* font-weight: 600; */
    color: #FF2B89;
}

.card a {
    font-weight: 600;
}

/* Buttons */
.button-light {
    background-color: #00B19E;
}

.button-dark {
    background-color: #00786B;
}

.button {
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    width: 100%;
    padding: 1rem;
    margin-top: 0.75rem;
    align-items: center;
}

.button:hover {
    background-color: rgb(243, 243, 243);
    color: #00786B;
    transition: 0.2s;
}

/* Footer */
.footer {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    color: #a2a2a2;
}

.footer img {
    height: 0.7rem;
}

@media (max-width: 990px) {
    .body {
        margin: 0 2.5rem;
        width: auto;
    }

    .navbar {
        height: 3.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    em {
        font-size: 1rem;
    }

    .service-column {
        width: inherit;
    }

    .service-background {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(images/services.jpg) no-repeat fixed;
        background-size: cover;
    }

    .content .split {
        flex-direction: column;
    }
}

.temp-border {
    /* border: 3px solid red; */
}
