@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Unica+One&display=swap');

* {
    /* Clear default settings */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
    color: white;
}

h1 {
    /* Masthead */
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 3rem;
    padding-top: 14rem;
    padding-bottom: 5rem;
}

h3 {
    /* Sub-mast */
    font-size: 2rem;
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 5rem;
}

h2 {
    /* Headings */
    font-size: 3rem;
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
}

p,
.footer ul {
    /* Main body text slightly bigger than normal */
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 1rem;
}

b {
    /* Bold and coloured text */
    font-weight: 500;
    color: white;
}

a {
    /* Link is heavy */
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(215, 220, 220);
    cursor: pointer;
}

.light-text p,
.light-text p a,
.light-text b,
.light-text h1,
.light-text h2,
.light-text h3 {
    color: black;
}

a:hover {
    /* Link glows white */
    color: white !important;
    transition: 0.2s;
}

.light-text p a:hover {
    color: #666666 !important;
}

.btn {
    /* Clear button with white box */
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.19rem;
    color: white !important;
    border: solid 2px white;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    float: right;
}

.light-text .btn {
    color: black !important;
    border: solid 2px black;
}

.btn:hover {
    /* Button becomes black on white */
    color: black !important;
    background-color: white;
    border: solid 2px white;
    transition: 0.2s;
}

.light-text .btn:hover {
    /* Button becomes white on black */
    color: white !important;
    background-color: black;
    border: solid 2px black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

nav img {
    /* Logo size */
    height: 4rem;
}

nav a {
    /* Nav links are bigger with different font */
    font-family: 'Unica One', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}

nav li {
    /* Align the nav links right */
    float: left;
    padding-left: 1rem;
}

nav .menu-btn {
    /* Hide hamburger checkbox in desktop mode */
    visibility: hidden;
}

.content {
    /* Main content width and layout */
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;

    padding-left: 10vw;
    padding-right: 10vw;

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.narrow-row {
    /* Narrow content width and layout */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    padding: 20vh 20vw;
}

.narrow-row img {
    /* Images inside content areas */
    align-self: center;
    width: 30%;
    margin-left: 2rem;
}

.article-thumbnail {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.article-thumbnail img {
    align-self: flex-end;
    width: 40%;
    margin: 1rem 0 1rem 2rem;
}

.video {
    /* Video aspect ratio is anamorphic */
    margin-bottom: 8rem;
    align-self: center;
    position: relative;
    width: 65vw;
    padding-bottom: 36.56%;
    /* 2.39:1 */
}

.video iframe {
    /* Make sure video scales with screen size */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.footer {
    /* Footer spacing and alignment */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    min-height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer li {
    /* Align social links right */
    float: left;
    padding-left: 1rem;
}

/* Settings for mobile view */
@media (max-width: 900px) {

    h1 {
        /* Smaller masthead */
        font-size: 1.5rem;
        line-height: 2.5rem;

        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    h3 {
        /* Smaller sub-mast and left align */
        font-size: 1.5rem;
        text-align: left;

        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    h2 {
        /* Smaller headings */
        font-size: 2.5rem;
    }

    p,
    .footer ul {
        /* Standard main body text */
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 0.8rem;
    }

    nav img {
        /* Smaller logo */
        height: 3rem;
    }

    .content {
        /* Content width is wider */
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .narrow-row {
        /* Narrow content also wider */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 10vh 10vw;
    }

    .narrow-row img {
        /* Side images bigger */
        width: 70%;
        margin-left: 0;
        margin-top: 2rem;
    }

    .article-thumbnail {
        flex-direction: column;
    }

    .narrow-row img {
        width: 100%;
        margin-left: 0;
    }
    
    .video {
        /* Video set to better aspect ratio */
        margin-bottom: 3rem;
        width: 100%;
        padding-bottom: 56.27%;
    }

    .footer {
        /* Footer becomes center justified */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .footer li {
        /* Get rid of right align and space apart */
        float: none;
        padding-left: 0rem;
        padding-top: 1rem;
    }

    /* Things related to navigation hamburger menu */
    nav li {
        float: none;
        padding: 1rem;
        text-align: center;
    }

    nav .hamburger {
        position: absolute;
        top: 1rem;
        right: 5vw;

        width: 3rem;
        height: 3rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        visibility: visible;
        z-index: 2;
    }

    nav .hamburger .bar {
        background: white;
        height: 4px;
        width: 2rem;
    }

    nav .menu-btn {
        position: absolute;
        top: 1rem;
        right: 5vw;

        z-index: 3;
        opacity: 0;
        visibility: visible;

        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    nav .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        z-index: 1;
        opacity: 0;
        padding: 2rem;
        transition: all 0.1s;

        display: flex;
        align-items: center;
        justify-content: center;

        background: black;

        visibility: hidden;
    }

    nav .menu-btn:checked~.menu {
        visibility: visible;
        opacity: 1;
    }
}